body{
	background: #fff;
	color:#fff;
}
h1{
	text-align: center;
	color:orange;
	margin-top:100px;
}
.backphoto{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: -1
}
.backphoto div{
	width: 100% ;
	border-bottom:solid 5px orange;
}
.backphoto img{
	width: 100%;
	margin: 0;
	-webkit-filter: brightness(14%);
}
.photogallery{
top:300px;
display: flex;
justify-content:center;
align-items: center;
flex-wrap: wrap;
width: 100%;
min-height: 100vh
}
.photogallery img{
	width: 450px;
	margin: 30px;
	border-radius: 5px;
	box-shadow: 0 0 20px 5px orange
}